@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* Default */
:root{
  --myGray : #212529;
  --myPrimary : #2370ff;
  --mySecondary : #ca51e2;
  --myButtons :  #601d9e;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
}

a{
  color: unset;
  text-decoration: unset;
}

.btn-primary {
  color: #fff;
  background-color: var(--myButtons);
  border-color: var(--myButtons);
}

.btn-outline-primary {
  color: #ffff;
  border-color: var(--myButtons);
}

.btn-primary:hover, .btn-outline-primary:hover{
  color: #fff;
  background-color: var(--mySecondary);
}

/****************** DEFAULT DESIGN FOR NAVIGATION AND FOOTER***************** */

/* NAVMENU */

.navbar{
  position: fixed;
  width: 100vw;
  z-index: 99;
  box-shadow: 0px 0px 25px var(--mySecondary);
}

.navbar .container{
  max-width: 100%;
}

.navbar-nav{
  text-align: center;
  height: 100vh;
  justify-content: start;
  margin-top:30px;
}

.nav-item{
  padding: 20px 0px;
}

.nav-item:hover{
  background-image: linear-gradient(to right, var(--myPrimary), var(--mySecondary))
}

/* DROP DOWN */

.dropdown-menu{
  text-align: inherit;
}

.dropdown-item:hover{
  background-color: var(--myGray);
  color: white;
}

/* LOGO  */
.navbar .navbar-brand{
  font-family: 'Poppins', sans-serif;
  color: var(--mySecondary);
}

.t-span{
  color: var(--myPrimary);
}

.aspi{
  line-height: 3rem;
}

/* FOOTER */
.footer{
  height: 7vh;
  background-color: var(--myGray);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 25px var(--mySecondary);
  z-index: 98;
}
.social-footer{
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-item img{
  width: 30px;
  margin: 0 30px;
}

.footer-item img:hover{
  transform: translate(0,-5px);
  box-shadow: 0px 0px 25px var(--myPrimary);
}


/******************************* LANDING PAGE ****************************/
.bgpage{
    position: relative;
    background-image: url(./img/firstbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 93vh;

    display: flex;
    align-items: center;
}

.ldpage-content{
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

/* PAGE TITLE */

.pgtitle{
  font-family: Neon80sRegular, Arial Narrow, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #fee;
  letter-spacing: 1.5rem;
  line-height: 3.5rem;
}

/* CENTER ICON */
.game-logo{
  position: relative;
}

.game-logo img{
  border-radius: 50%;
  box-shadow: 0px 0px 30px var(--mySecondary);
  width: 28%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 3s linear infinite;
}

.game-logo img:hover{
  cursor: pointer;
  width: 30%;
  overflow: hidden;
  box-shadow: 0px 0px 15px white;
}

/* Click Me */

.clickme {
  position: absolute;
  font-family: arial;
  font-size: 1.1em;
  background: var(--mySecondary);
  color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 400px;
  top: 30%;
  left: 72%;
  animation: leftright 1.2s ease infinite;
}
.clickme::after {
  content: '';
  border: 20px solid transparent;
  border-right-color: var(--mySecondary);
  border-left: 0;
  position: absolute;
  left: -17px;
  top: 50%;
  margin-top: -20px;
}

/* HIDDEN content on Landing Page */
/* Profile */
.lp-profile{
  position: absolute;
  background-color: rgba(66, 66, 66, 0.788);
  width: 85vw;
  margin-top: 55px;
  display: none;
  box-shadow: 0px 0px 10px var(--mySecondary);
}

.profile-img{
  padding: 10px;
}

.profile-img img{
  width: 30%;
}

.pro-title{
  margin: 0 20px;
  color: white;
}

.persona{
  /* spacing */
  margin: 20px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  /* style */
  list-style-type: disc;
  background-color: white;
  font-size: 0.8rem;
  border-radius: 10px;
}

.persona li{
  padding: 5px 10px;
  color: var(--myGray);
}

.p-exit{
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}





/**************************** CONTACT PAGE ****************************/
.ct-page{
  background-color: rgba(51, 51, 51, 0.849);
  width: 100vw;
  height: 100vh;
}
/* Contact Title */
.contactintro{
  color: white;
  margin-top: 120px;
}
/* Contact Paragraph */
.contactintro p{
  margin: 30px 0;
  color: rgba(255,255,255,.55);
  font-size: 0.9rem;
}
/* Contact Highlight Email */
.contactintro span{
  color: var(--mySecondary);
}
/* Contact FORM */
.contact-form{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 300px;
}

.contact-in{
  color: white;
  margin: 10px;
  padding: 5px;
  background-color: var(--myGray);
}

.contact-form button{
  margin-top: 20px;
  margin-left: 10px;
  width: 100px;
}
/* Maintenance Warn */
.text-warn{
  position: relative;
  top: -95px;
  padding: 5px 0;
  width: 90%;
  color: white;
  font-size: 0.8rem;
  background-color: red;
  text-align: center;
  border-radius: 20px;
  display: none;
}

.text-warn::after {
  content: '';
  border: 10px solid transparent;
  border-top-color: red;
  border-bottom: 0;
  position: absolute;
  left:20px;
  top: 45px;
  margin-bottom: -20px;
}

.arrowshow{
  position: absolute;
  bottom: 80px;
  right: 20px;
  width: 20px;
  height: 40px;
  background-color: var(--mySecondary);
  display: none;
  animation: updown 0.5s ease infinite;
  -moz-animation: updown 0.5s ease infinite;
  -webkit-animation: updown 0.5s ease infinite;
}

.arrowshow::after {
  content: '';
  border: 20px solid transparent;
  border-top-color: var(--mySecondary);
  border-bottom: 0;
  position: absolute;
  right: -10px;
  bottom:10px;
  margin-bottom: -20px;
}


/************************************ ANIMATIONS**************************/
/* IM NINO glow */
.glow{
  animation: pgtitle 2s ease infinite;
  -moz-animation: pgtitle 2s ease infinite;
  -webkit-animation: pgtitle 2s ease infinite;
}
/* alert arrow */
.upanddown{
  animation: updown 1s ease infinite;
}

.glowshadow{
  animation: glowshad 0.5s ease infinite;
}

@keyframes pgtitle {
  0%,
  100% {
    text-shadow: 0 0 .5vw #0d6efd, 0 0 1.5vw #0d6efd, 0 0 5vw #0d6efd, 0 0 5vw #0d6efd, 0 0 .2vw #0d6efd;
    color: #e077f5;
  }
  50% {
    text-shadow: 0 0 1vw #e077f5, 0 0 3vw #e077f5, 0 0 10vw #e077f5, 0 0 10vw #e077f5, 0 0 .4vw #e077f5;
    color: #0d6efd;
  }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes leftright { 0% {transform: translateX(-10%);} 50% {transform: translateX(10%);}100% {transform: translateX(-10%);}}
@keyframes updown  { 0% {transform: translateY(-15%);} 50% {transform: translateY(15%);}100% {transform: translateY(-15%);}}
@keyframes glowshad {0% {  box-shadow: 0px 0px 25px white;} 100%{  box-shadow: 0px 0px 25px var(--myPrimary);}}

/***********************************MEDIA QUERIES *************************/


@media (min-width: 768px) and (max-width: 992px){

}

/* 992px upto possible */

@media (min-width: 992px){

    /* NAVMENU */
  .navbar-nav{
    height: unset;
    padding-top:unset;
    margin: 0 20px;
  }

  .nav-item{
    padding: 0 10px;
  }

  .nav-item:hover{
    border-radius: 20px;
  }

  .pgtitle{
    letter-spacing: 2rem;
    line-height: 5rem;
  }

  .game-logo img{
    width: 27%;
  }
  
  .game-logo img:hover{
    width: 28%;
  }

  .clickme{
    left: 62%;
  }

  .lp-profile{
    width: 450px;
  }

}