.bgpage{
    align-items: start;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
}

.website-samples{
    margin-top: 5%;
    width: 100%;
}

.website-intro{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 50px 20px 20px 20px;
    background-color: var(--myGray);
}

/* ********MEDIA QUERIES */

@media (min-width: 768px){

    .website-intro{
        margin: 5px 20px;
    }
    
    .website-projects{
        margin-top: 20px;
    }
}