@media (max-width: 991.98px) {

    .layer-desc {
        padding: 0;
    }

    .aboutus-container {
        margin: 20px 0 !important;
    }

    .end-line-container {
        font-size: 0.8rem !important;
    }

    .end-line-img {
        width: 180px !important;
        margin: 10px 0;
    }

    .end-line-icon {
        width: auto !important;
        height: 20px !important;
    }
}

/* SMALL DEVICES */
@media (max-width: 575.98px) {
    .hide-inmobile {
        display: none;
    }
    ul{
        padding-inline-start: 0;
    }

    #service-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #service-img {
        width: 300px !important;
        height: 250px !important;
        margin: 0px !important;
        justify-content: center;
    }
}