body {
    font-family: 'Teko';
}

li {
    list-style: none;
}

ul{
    padding-inline-start: 0;
}

p {
    padding: 0;
    margin: 0;
}

.show-inmob{
    visibility: hidden;
}

.text-first {
    color: #aae23c;
}

.text-second {
    color: #547b05;
}

.text-gray {
    color: rgb(94, 94, 94);
}

.bg-first {
    background-color: #aae23c;
}

.bg-second {
    background-color: #547b05;
}

.service-title{
    margin-top: 40px;
    font-size: 3rem;
    color: white;
}

.service-desc{
    font-size: 1.2rem;
    color: white;
    margin-bottom: 30px;
}

@font-face {
    font-family: 'Teko';
    src: url(../styles/fonts/Teko/Teko-Medium.ttf);
}


@font-face {
    font-family: 'Poppins';
    src: url(../styles/fonts/Poppins/Poppins-Light.ttf);
}

.poppins {
    font-family: 'Poppins';
}

